

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a.navbar-brand {
    background-color: rgb(66, 139, 202);
    color: white;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 47px;
}

.navbar-header, div#myNavbar {
    /*padding-bottom: 20px;*/
    /*background-color: rgb(66, 139, 202);*/
    min-height: 50px;
}

.cabecera, .franja{
  background-color: rgb(66, 139, 202);
}

a.dropdown-toggle {
  color: white;
}

a.dropdown-toggle:hover {
  color: rgb(66, 139, 202);
}

a.dropdown-toggle:focus {
  color: rgb(66, 139, 202);
}

.mono {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

/* Basado en http://jsfiddle.net/vralle/qX4Pt/ */
.spoiler {
  display: table;
  position: relative;
	background-color: #f9fafa;
	border: 1px solid #ddd;
	margin-bottom: 10px;
}
.spoiler-btn {
	padding: 2px 6px;
	cursor: pointer;
  font-style: italic;
}
.spoiler-body {
	padding: 6px;
}


footer {
  border-top: 3em solid white;
  padding-top: 1em;
  background-color: #3B3B3B;
  background-image: url('images/bg_gris_botton.jpg');
  color: white;
}

li.footer_title {
  font-weight: bolder;
  list-style-type:none;
  text-align: center;
  color: inherit;
}

li.footer_text {
  list-style-type:none;
  text-align: left;
  color: inherit;
}

li.footer_text a {
  color: inherit;
  text-decoration: underline;
  font-weight: bold;
}
